* appointments */

/* Reset default margin and padding */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Basic styles */
/* body {
    font-family: Arial, sans-serif;
    background-color: #E5E0FF;
} */
